/*********************************************HTML TAGS************************************/
body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-image: url(./images//background.jpg);
}

li {
	display: inline-block;
	margin: 10px;
	font-size: 23px;
}
/**************************************************ID TAGS*************************************/

/* *************************************************CLASS TAGS************************* */

.imageContainer {
	margin-left: auto;
	margin-right: auto;
}
.myImage {
	display: block;
	height: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.myIcons {
	margin-left: auto;
	margin-right: auto;
}

.myPages {
}

.myLinks-Ul {
	list-style-type: none;
	padding: 0;
}
