/*********************************************HTML TAGS************************************/
body {
	margin: 0;
	padding: 0;
}

/**************************************************ID TAGS*************************************/

#myNav1 {
	background-color: #282a2b;
}

/* *************************************************CLASS TAGS************************* */

.affix {
	top: 0;
	width: 100%;
	z-index: 9999 !important;
}

.navName {
	font-family: 'Russo One', sans-serif;
	font-size: 160%;
	color: #b4cbd9;
}

.navInfo {
	font-family: 'Acme', sans-serif;
	font-size: 130%;
	color: #73a2bf;
	padding: 10px;
}

.navInfo:hover {
	color: white;
}

.navbar-toggler-icon {
	color: white;
}
.custom-toggler.navbar-toggler {
	background-color: rgb(97, 134, 156);
	font-size: 100%;
}

.mainContent {
	background-color: rgb(220, 229, 236);
	height: 100vh;
}

.profilePic {
	height: 112px;
	width: 112px;
	margin: 35% 0 0 0;
}

@media screen and (max-width: 770px) {
	.profilePic {
	}
}

.jobTitle {
	text-align: center;
}

.projImg {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.projSlide {
	width: 28%;
	margin-left: 30%;
}

@media screen and (max-width: 1200px) {
	.projSlide {
		width: 50%;
	}
}

.projTitle {
	font-family: 'Acme', sans-serif;
}
